body {
	background-image: url(photos/background.jpg);
	text-align: center;
	background-repeat: no-repeat;
  	background-size: cover;
  	cursor: url(photos/mouse.png), auto;
}

.whole{
	padding: 3%;
	position: relative;
	cursor: url(photos/mouse.png), auto;
}

a {
  text-decoration: none;
}

h1{
	color: #915b04;
	font-size: 3em;
	font-family: 'Fjalla One', sans-serif;
	animation: float infinite 1s;
}

p {
	font-family: 'Fjalla One', sans-serif;
	animation: fadeIn ease 3s;
}

#bio{
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	cursor: url(photos/mouse.png), auto;
}
#bio span{
	background-color: #88fcdd;
	color: #915b04;
	font-family: 'Passion One', cursive;
	font-size: 20px;
    padding-left:30px; 
    padding-right:30px;
    padding-top:40px; 
    padding-bottom:40px;
    display:inline-block;
}

#button span{
	color: #915b04;
	background-color: white;
	border-style: double;
	font-size: 2em;
	font-family: 'Fjalla One', sans-serif;
	display:inline-block;
	margin: 0;
  	position: absolute;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	padding-left: 9px; 
    padding-right: 9px;
    padding-top: 2px; 
    padding-bottom: 2px;
    animation: fadeIn ease 10s;
}

@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@keyframes float{
	0%{
    	transform: translatey(0%);
	}
    50%{
    	transform: translatey(30%);
	}
	100%{
		transform: translatey(0%);
	}
}
